<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Desma Properties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'MySite/styles/agent.css'%}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'MySite/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="home">
  <div class="container-fluid display-table">
    {% include 'includes/agenthead.html' %}
    <button type="submit"  id="view1" onclick="viewBookings()">View Booked Viewings</button><br>
<button type="submit" id="view2" onclick="viewListings()">View listings</button><br> 
  </div>

  <script>
      function viewBookings(){
    document.getElementById('Bookings').style.display = 'none';
    document.getElementById('Listings').style.display = 'block';

}
function viewListings(){
    document.getElementById('Bookings').style.display = 'block';
    document.getElementById('Listings').style.display = 'none';

}
  </script>

  <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 80%;
          margin-left: 18%;
          margin-top: -28%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
</style>
<!-- Listings -->
<div id="Listings">
    <table>
        <caption>Pending listings</caption>
        <tr>
            <th>Owner</th>
            <th>Type</th>
            <th>Location</th>
            <th>Price</th>
            <th>Edit</th>
        </tr>
        {% for listings_waiting_list in lisstt %}
        <tr>
            <td> {{ listings_waiting_list.name }}</td>
            <td>{{ listings_waiting_list.purpose }}</td>
            <td>{{ listings_waiting_list.location }}</td>
            <td>{{ listings_waiting_list.price }}</td>   
            <td><button type="button" class="btn btn-indigo btn-sm m-0 add-property" style="background-color:#5288ff !important" data-toggle="modal" data-target="#add_property">Verify</button></td> 
        </tr>
        {% endfor %}
    </table>
</div>

<!-- Listings -->
<div id="Bookings">
        <table>
                <caption>Booked Viewings</caption>
            <tr>
                <th>Booking ID</th>
                <th>Date</th>
                <th>Name</th>
                <th>Mobile Number</th>
            </tr>
            {% for booked_viewings in bookin %}
            <tr>
                <td> {{ booked_viewings.booking_id }}</td>
                <td>{{ booked_viewings.date }}</td>
                <td>{{ booked_viewings.name }}</td>
                <td>{{ booked_viewings.mobile_no}}</td>   
            </tr>
            {% endfor %}
        </table>
    </div>
  <!-- Modal -->
  <div id="add_project" class="modal fade" role="dialog">
      <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
              <div class="modal-header login-header">
                  <button type="button" class="close" data-dismiss="modal">×</button>
                  <h4 class="modal-title">Add Project</h4>
              </div>
              <div class="modal-body">
                          <input type="text" placeholder="Project Title" name="name">
                          <input type="text" placeholder="Post of Post" name="mail">
                          <input type="text" placeholder="Author" name="passsword">
                          <textarea placeholder="Desicrption"></textarea>
                  </div>
              <div class="modal-footer">
                  <button type="button" class="cancel" data-dismiss="modal">Close</button>
                  <button type="button" class="add-project" data-dismiss="modal">Save</button>
              </div>
          </div>

      </div>
  </div>
  
</body>
</html>