<!DOCTYPE html>
{%load static%}
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Desma Properties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'MySite/styles/main.css'%}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- <script src="{%static 'MySite/styles/main.js'%}"></script> -->
</head>
<body>
    <div class="supercontainer" >
        <!-- header -->
        <header>
            {% include "includes/header.html" %} 
        </header>

            <div class="jumbotron" style="background-image:url({%static 'MySite/images/back.jpg'%})">
            <div class="container text-center">
                <h3><b>Search for properties near you</b></h3>      
                <div class="search">
                    <form action="#">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                    <option>Location</option>
                                                    <option>Thika</option>
                                                    <option>Ruiru</option>
                                                    <option>Juja</option>
                                                </select>
                                            </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                            <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                <option>To Rent or Buy</option>
                                                <option>Rent</option>
                                                <option>Buy</option>
                                            </select>
                                        </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                                <select class="form-control search-slt" id="exampleFormControlSelect1">
                                                    <option>Residential or Commercial</option>
                                                    <option>Residential</option>
                                                    <option>Commercial</option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                                                <button type="button" class="btn btn-primary wrn-btn">Search</button>
                                            </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        <!-- <div class="jumbotron">
            <h6>Most people are extremely careful about their choice of doctor, lawyer or stockbroker, yet surprisingly casual about the next most important professional in the lives - their real estate agent.</h6>
            <h6>Our skilled professionals are able to offer superior cutting edge service, maintain constant communication, secure the best deals and live by our values of delivering absolute honesty and integrity when securing the best possible price for your home.</h6> 
        </div> -->
        <div class="container">
            
            <div class="col-md-8">
                <div class="well well-lg">
                    <p>At Desma Properties, we are determined to exceed our clients' expectations - on every level, always. And, through our nearly 50 years' of knowledge and experience, superior systems, technology and of course, our total commitment, we're equipped to do so. 

                    We make it our business to continually evolve and identify new opportunities, which is why we offer a distinctive range of property services that spans residential and commercial sales and marketing , property management, corporate relocations, rentals and home loans.</p>

                    <br><br>
                    <p><b>Please provide your details below, our agents will get back to you</b></p>
                    <form action="." class="contact_form" id="list_form" method="post">
                        {% csrf_token %}
                        <p><b>Contact details</b></p>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Name" name="name">
                            </div>
                            <div class="col-md-6">
                                <input type="tel" class="form-control" placeholder="Mobile number" name="mobile_no">
                            </div>
                        </div>
                        <br><br>
                        <p><b>Property details</b></p>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" placeholder="Location"n name="location">
                            </div>
                            <div class="col-md-6">
                                <input type="number" class="form-control" placeholder="Property price" name="price">
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-6">
                                <select class="custom-select form-control" name="purpose">
                                    <option selected>Purpose</option>
                                    <option value="1">Residential</option>
                                    <option value="2">Commercial</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <select class="custom-select form-control" name="tyype">
                                    <option selected>For rent or buy</option>
                                    <option value="1">Rent</option>
                                    <option value="2">Buy</option>
                                </select>
                            </div>
                        </div>
                        <br><br>
                        <button class="btn btn-info btn-lg" type="submit" style="background-color: #b0c6ff !important;">Send</button>
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <div class="well" style="height: 280px;" >
                        <p><b>Subscribe and get alerts from us!</b></p>
                            <form action="#">
                                    <div class="input-group">
                                        <input style="    border-color: #a0a0a0;
                                        margin-top: 18%;" class="btn btn-lg" name="email" id="email" type="email" placeholder="Your Email" required>
                                        <br><br>
                                        <button class="btn btn-info btn-lg" type="submit" style="background-color: #b0c6ff !important;    margin-top: 20%;
                                        margin-left: 32%;">Subscribe</button>
                                    </div>
                            </form>  
                    </div> 
                </div>
        </div>
        

    </div>
<footer class="container-fluid text-center" style="background-color: #79e8c0 !important;">
    <p class="h6">&copy All rights Reserved.<br><br> Created and developed by: Wambui Kagiri</p>
</footer>
</body>
</html>