<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Desma Properties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'MySite/styles/waitinglistings.css'%}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{%static 'MySite/styles/agent.css'%}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{%static 'MySite/plugins/font-awesome-4.7.0/css/font-awesome.min.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body class="home">
  
    <div class="container-fluid display-table">
        {% include 'includes/agenthead.html' %}
    </div>

        <!--  -->
        <div>
            
            
        <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 80% !important;
          margin-left: 18% !important;
          margin-top: -28% !important;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        tr:nth-child(even) {
          background-color: #dddddd;
        }
        </style>
            <table class="table-hover table-responsive">
                <caption>Unapproved listings
                </caption>
                    <tr>
                        <th>Owner</th>
                        <th>Type</th>
                        <th>Location</th>
                        <th>Price</th>
                        <th>Edit</th>
                    </tr>
                    {% for listings_waiting_list in listt %}
                    
                    <tr>
                        <td> {{ listings_waiting_list.name }}</td>
                        <td>{{ listings_waiting_list.purpose }}</td>
                        <td>{{ listings_waiting_list.location }}</td>
                        <td>{{ listings_waiting_list.price }}</td>   
                        <td>
                            <button type="button" class="btn btn-indigo btn-sm m-0 add-property" style="background-color:#5288ff !important" data-toggle="modal" data-target="#add_property">Verify</button>
                          </td>
                          <!-- <li class="hidden-xs"><a href="#" class="add-project" data-toggle="modal" data-target="#add_project">something</a></li> -->
                    </tr>
                    {% endfor %}
            </table>
        </div>
          <!-- Modal -->
  <div id="add_property" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header login-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Verify Listing</h4>
            </div>
            <div class="modal-body">
                        <input type="text" placeholder="Property name" name="property_title">

                        <input type="text" placeholder="location" name="location">
                        <input type="text" placeholder="Asking price" name="price">
                        <input type="text" placeholder="Property type" name="property_type">
                        <input type="text" placeholder="For rent or sale" name="rent_buy">
                        <input type="text" placeholder="area" name="area">
                        <textarea placeholder="Property Desicrption"></textarea>
                </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
                <button type="button" class="add-property" data-dismiss="modal">Save</button>
            </div>
        </div>

    </div>
</div>
        
        <div class="pagination" style="margin-left: 60%;">
            <span class="step-links">
                {% if listt.has_previous %}
                    <a href="?page={{ listt.previous_page_number }}">Previous</a>
                {% endif %}  
            
                <span class="current">
                    Showing {{ listt.number }} of {{ listt.paginator.num_pages }}
                </span>
                {% if listt.has_next %}  
                    <a href="?page={{ listt.next_page_number }}">Next </a>
                {% endif %}
            </span>
        </div>
          <!-- Modal -->


    
</body>
</html>
              